
:root {
	font-size: 40px;
	--blue: #0074D9;
	--darkblue: #005FB2;
}

.container-game {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type = checkbox] {
	display: none;
}

input + label {
	margin: auto;
	font-size: 1.2rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: .1rem solid var(--blue);
	border-radius: 50%;
	background: var(--darkblue);
	transition: .1s all;
	cursor: pointer;
	z-index: 999 !important;
}

input + label:hover {
	transform: scale(.95);
}

input + label:after {
	content: "✊️";
}

.container-game input + label:after {
	content: "☝️";
}

input:checked + label {
	background: var(--blue);
	transform: scale(1.1);
}

input:checked + label:hover {
	background: var(--blue);
	transform: scale(1.05);
}

input:checked + label:after {
	content: "✊";
}

input:checked#scissors + label:after {
	content: "✌️";
}

input:checked#paper + label:after {
	content: " 🤚️";
}

input:checked#rock + label:after {
	content: "👍";
}
