<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="container">
	<div id="content">

		<div id="content--left">
			<figure>
				<img id="img-left-value" src="https://i.pinimg.com/originals/36/08/15/360815a922550ede492d1f8ba9554634.png" alt="Player 1">
				<figcaption><span id="content-left-human-player"></span></figcaption>
			</figure>
			<div id="content-dragon-ball" class="container-choise">
				<div class="button-wrap">
					<input class="hidden radio-label" type="radio" name="dragon-ball" id="scissors" value="scissors"/>
					<label class="button-label" for="scissors">
						<h1>Scissors</h1>
					</label>
					<input class="hidden radio-label" type="radio" name="dragon-ball" id="paper" value="paper" />
					<label class="button-label" for="paper">
						<h1>Paper</h1>
					</label>
					<input class="hidden radio-label" type="radio" name="dragon-ball" id="rock" value="rock"/>
					<label class="button-label" for="rock">
						<h1>Rock</h1>
					</label>
				</div>
			</div>
		</div>

		<div id="content--center">
			<header class="top">
				<figure>
					<img src="https://upload.wikimedia.org/wikipedia/fr/f/f2/Dragon_Ball_Z_Logo.svg" alt="Logo">
					<figcaption>
						<h1>‘Rock, Paper, Scissors’</h1>
					</figcaption>
				</figure>
				<p>Choose the game mode:</p>
				<div class="container-game">
					<input id="checkbox" name="checkbox" value="value" type="checkbox"/>
					<label for="checkbox" ></label>
				</div>
				<button type="button" id="play">Play!</button>
			</header>
			<div id="countdown"></div>
			<footer class="bottom">
				<figure>
					<figcaption>
						<div id="result">Ready...!</div>
					</figcaption>
					<img id="img-left-value" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/47e750e1-13a6-437a-aca3-f52c92d447ea/d6psw36-d8ebb4eb-7d98-4c0b-9ba4-103e92dd2872.png/v1/fill/w_782,h_1021,strp/arbitre_commentateur_annonceur____by_leorine_d6psw36-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA4OCIsInBhdGgiOiJcL2ZcLzQ3ZTc1MGUxLTEzYTYtNDM3YS1hY2EzLWY1MmM5MmQ0NDdlYVwvZDZwc3czNi1kOGViYjRlYi03ZDk4LTRjMGItOWJhNC0xMDNlOTJkZDI4NzIucG5nIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.3R4-RO-pDQGOvXlCckQzlys00UlteCP3hscx-DYpsnM" alt="Player 1">
				</figure>
			</footer>
		</div>


		<div id="content--right">
			<figure>
				<img id="img-left-value" src="https://dragonballwiki.de/w/images/thumb/3/3e/Bejitavege.png/512px-Bejitavege.png" alt="Player 2">
				<figcaption><span id="content-right-computer-1"></span></figcaption>
			</figure>
		</div>

	</div>

</div>
</body>
</html>
